@model List<GetAllPortfolioDto>

<!-- About -->
<div class="pb-2">
	<h1 class="title title--h1 first-title title__separate">Portfolio</h1>
</div>

<!-- Gallery -->
<div class="pb-0">
	<!-- Filter -->
	@await Component.InvokeAsync("PortfolioCategoryFilter")

	<!-- Content -->
	<div class="gallery-grid js-masonry js-filter-container">
		<div class="gutter-sizer"></div>
		@foreach(var portfolio in Model)
		{
			<!-- Item 1 -->
			<figure class="gallery-grid__item category-@portfolio.PortfolioCategory.Name.ToLower()">
				<div class="gallery-grid__image-wrap">
					<img class="gallery-grid__image cover lazyload" src="~/ui/assets/img/image_01.jpg" data-zoom alt="" />
				</div>
				<figcaption class="gallery-grid__caption">
					<h4 class="title gallery-grid__title">@portfolio.Title</h4>
					<span class="gallery-grid__category">@portfolio.SubTitle</span>
				</figcaption>
			</figure>
		}
	</div>
</div>