@model CreateSocialMediaIconDto

<div class="section-wrapper">
    <form asp-action="Add" method="post">
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Icon" class="form-label"></label>
            <input asp-for="Icon" class="form-control">
            <span asp-validation-for="Icon"></span>
        </div>
        <div class="form-group">
            <label asp-for="Link" class="form-label"></label>
            <input asp-for="Link" class="form-control">
            <span asp-validation-for="Link"></span>
        </div>
        <button type="submit" class="btn btn-outline-success">Create Social Media</button>
    </form>
</div>