@model List<GetAllTestimonialDto>

<!-- Testimonials -->
@if (Model.Any())
{
    <div class="box-inner">
        <h2 class="title title--h3">Testimonials</h2>

        <div class="swiper-container js-carousel-review">
            <div class="swiper-wrapper">
                @foreach (var testimonial in Model)
                {
                    <div class="swiper-slide review-item">
                        <svg class="avatar avatar--80" viewBox="0 0 84 84">
                            <g class="avatar__hexagon">
                                <image xlink:href="/images/@testimonial.Image" height="100%" width="100%" />
                            </g>
                        </svg>
                        <h4 class="title title--h5">@testimonial.FullName</h4>
                        <p class="review-item__caption">@testimonial.Message</p>
                    </div>
                }
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
}