@model CreateContactDto

<!-- Contact -->
<div class="pb-2">
	<h1 class="title title--h1 first-title title__separate">İletişim</h1>
</div>

<h2 class="title title--h3">İletişim Formu</h2>

<form asp-action="Send" method="post" class="contact-form">
	<div class="row">
		<div class="form-group col-12 col-md-6">
			<i class="font-icon icon-user"></i>
			<input asp-for="FullName" type="text" class="input input__icon form-control" placeholder="Adınız ve Soyadınız" autocomplete="on" onkeyup="setCustomValidity('')">
			<span asp-validation-for="FullName"></span>
			<div class="help-block with-errors"></div>
		</div>
		<div class="form-group col-12 col-md-6">
			<i class="font-icon icon-envelope"></i>
			<input asp-for="Email" type="email" class="input input__icon form-control" placeholder="Mail Adresiniz" autocomplete="on" onkeyup="setCustomValidity('')">
			<span asp-validation-for="Email"></span>
			<div class="help-block with-errors"></div>
		</div>
		<div class="form-group col-12 col-md-12">
			<textarea asp-for="Message" class="textarea form-control" placeholder="Mesajınız" rows="4" onkeyup="setCustomValidity('')"></textarea>
			<span asp-validation-for="Message"></span>
			<div class="help-block with-errors"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
			<div class="hidden"></div>
		</div>
		<div class="col-12 col-md-6 order-1 order-md-2 text-right">
			<button type="submit" class="btn"><i class="font-icon icon-send"></i> Mesajı Gönder</button>
		</div>
	</div>
</form>