@model GetServiceDto

<div class="section-wrapper">
    <label class="section-title">Url: @Model.Name</label>
    <p class="mg-b-20 mg-sm-b-40">Publish Date: Yakında Eklenilecek</p>

    <div class="media media-demo">
        <img src="https://art-template.ru/vcard1/assets/icons/dark/icon-design.svg" class="d-flex mg-r-40 wd-150" alt="Image">
        <div class="media-body mg-t-20 mg-sm-t-0">
            <h5 class="tx-gray-300 mg-b-20">@Model.Name</h5>
            <p>@Model.Description</p>
        </div><!-- media-body -->
    </div><!-- media -->
</div>