@model GetAboutDto

@await Html.PartialAsync("Partials/_TitleSeparatePartialView")

<div class="pb-0 pb-sm-2">
    <p>@Model.Description</p>
</div>

@await Component.InvokeAsync("Service")

@await Component.InvokeAsync("Testimonial")

@await Html.PartialAsync("Partials/_GithubStatsPartialView")

@await Component.InvokeAsync("Certificate")