<!-- Resume -->
@await Html.PartialAsync("Partials/_TitleSeparatePartialView")

<!-- Experience -->
<div class="pb-0">
	<div class="row">
		@await Component.InvokeAsync("Education")

		@await Component.InvokeAsync("Experience")	
	</div>
</div>

<!-- Skills -->
@await Component.InvokeAsync("Skill")