@model GetBlogDto

<!-- Post -->
<div class="pb-3">
	<header class="header-post">
		<div class="header-post__date">@Model.PublishDate.ToString("MMMM dd, yyyy")</div>
		<h1 class="title title--h1">@Model.Title</h1>
		<div class="caption-post">
			<p></p>
		</div>
		<div class="header-post__image-wrap">
			<img class="cover lazyload" src="~/images/@Model.Image" alt="@Model.Slug" />
		</div>
	</header>
	<div class="caption-post">
		<p>@Model.Content</p>
	</div>
	<footer class="footer-post">
		<a class="footer-post__share" href="http://facebook.com/"><i class="font-icon icon-facebook"></i><span>Facebook</span></a>
		<a class="footer-post__share" href="http://twitter.com/"><i class="font-icon icon-twitter"></i><span>Twitter</span></a>
		<a class="footer-post__share" href="http://linkedin.com/"><i class="font-icon icon-linkedin2"></i><span>Linkedin</span></a>
	</footer>
</div>