@model UpdateBlogDto

<div class="section-wrapper">
    <form asp-action="Update" method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <div class="form-group">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="form-label">Content</label>
            <textarea asp-for="Content" class="form-control" rows="20"></textarea>
            <span asp-validation-for="Content"></span>
        </div>
        <div class="form-group">
            <label asp-for="PublishDate" class="form-label">Publish Date</label>
            <input asp-for="PublishDate" type="datetime-local" class="form-control fc-datepicker hasDatepicker">
            <span asp-validation-for="PublishDate"></span>
        </div>
        <div class="form-group">
            <img src="~/images/@Model.Image" style="width:100%; height:100%;" />
            <input asp-for="Image" type="hidden" />
        </div>
        <div class="form-group custom-file">
            <label asp-for="Photo" class="custom-file-label" for="customFile">Choose file</label>
            <input asp-for="Photo" type="file" accept="image/*" class="custom-file-input" id="customFile">
            <span asp-validation-for="Photo"></span>

        </div>
        <div class="form-group">
            <label asp-for="IsPublish" class="form-label ckbox">Should it be published?</label>
            <input asp-for="IsPublish" type="checkbox" checked="false">
        </div>
        <button type="submit" class="btn btn-outline-success">Update Blog</button>
    </form>
</div>
